<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>基于iCloud的文件管理系统.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>雏鹰计划.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D0E5C311E7D53D000D69F2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D0E5C4A1E7D53D100D69F2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D0E5C551E7D53D100D69F2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
